body{
  background-color: #999;
  text-align: center;

}

h1 {
  margin: 25px 0;
  color: #970970;
}

#chatBox h2 {
  border-bottom: 2px dashed #970970;
  padding-bottom: 4px;
}

#card, #chatBox{
  background-color: white;
  color:#333;
  font-size: 2em;
  border-radius: 3%;
  height: 500px;
}

#cardTitle{
  font-size: 2em;
}

#cardDef{
  display: none;
  padding:15px;
}


.chat {
  list-style: none;
}

.chatUser {
  text-align: left;
}

.chatBot {
  text-align: right;
}

#index {
  font-size: 2em;
  background-color: white;
  margin: 10px 0;
  border-radius: 10%;
}
